# Binários
pdview
pdview-arm64
pdview-arm32
*.exe

# Banco de dados
data/*.db
data/*.db-shm
data/*.db-wal



# Logs
logs/
*.log

# Diretório de distribuição
dist/

# Arquivos temporários
*.tmp
*.bak
*~
.DS_Store

# Go
go.sum
vendor/

# IDE
.vscode/
.idea/
*.swp
*.swo